.row-style {
    padding-top:20px;
    padding-bottom:20px;
}

.card-styling {
    height:146px;
    background-color: #cccccc;
    border-radius: 3px;
    box-shadow: 7px 7px 4px black;
}

.playerDiv {
    text-align:center;
    img {
        width:51px;
        height:60px;
    }   
}