body{
  min-width:1350px;        /* Suppose you want minimum width of 1000px */
  width: auto !important;  /* Firefox will set width as auto */
  width:1350px;            /* As IE6 ignores !important it will set width as 1000px; */
}

.text-center {
    text-align: center!important;
  }
  
  #landing-img {
    text-align: center;
    height:845px;
    margin-top: 0px;
    background: url(/images/build-team.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  
  #sImage{
    margin-top: 0px;
    background: linear-gradient(135deg, rgba(88,218,255,0.4430147058823529) 0%, rgba(234,251,255,0.4990371148459384) 0%, rgba(255,255,255,0) 68%);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius:7px;
    box-shadow: 2px 2px 6px grey;
  }