.text-center {
    text-align: center!important;
  }
  
  #landing-img {
    text-align: center;
    height: 700px;
    margin-top: 0px;
    background: url(/images/build-team.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }